<a href="https://colab.research.google.com/github/Udhay2898/Suicides-Analysis-in-India/blob/Master/Suicides%20Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Handling Missing Values:

1) Count null values
2) Fill null values
3) Drop rows/columns with null values
4) Removing Duplicates:

Drop duplicate rows
Type Conversion:

Convert data types of columns
Handling Outliers:

Identify and handle outliers
Renaming Columns:

Rename column names for consistency
Removing Unnecessary Columns:

Drop columns that are not needed

**Importing Pandas**

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Data Sets/Suicides in India 2001-2012.csv')
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

**Check Null Values**

In [4]:
df.isnull().any()

State        False
Year         False
Type_code    False
Type         False
Gender       False
Age_group    False
Total        False
dtype: bool

**Sum Null Values**

In [5]:
df.isnull().sum()

State        0
Year         0
Type_code    0
Type         0
Gender       0
Age_group    0
Total        0
dtype: int64

**Fill Missing Value With 0**

In [6]:
df.fillna(0)

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
...,...,...,...,...,...,...,...
237514,West Bengal,2012,Social_Status,Seperated,Male,0-100+,149
237515,West Bengal,2012,Social_Status,Widowed/Widower,Male,0-100+,233
237516,West Bengal,2012,Social_Status,Married,Male,0-100+,5451
237517,West Bengal,2012,Social_Status,Divorcee,Male,0-100+,189
237518,West Bengal,2012,Social_Status,Never Married,Male,0-100+,2658

**Fill Missing Value With NAN**

In [7]:
df.fillna(np.nan)

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0
...,...,...,...,...,...,...,...
237514,West Bengal,2012,Social_Status,Seperated,Male,0-100+,149
237515,West Bengal,2012,Social_Status,Widowed/Widower,Male,0-100+,233
237516,West Bengal,2012,Social_Status,Married,Male,0-100+,5451
237517,West Bengal,2012,Social_Status,Divorcee,Male,0-100+,189
237518,West Bengal,2012,Social_Status,Never Married,Male,0-100+,2658

**Find Duplicates**

In [8]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
237514    False
237515    False
237516    False
237517    False
237518    False
Length: 237519, dtype: bool

**Sum Duplicates**

In [9]:
df.duplicated().sum()

0

**Checking Data Type**

In [10]:
df.dtypes

State        object
Year          int64
Type_code    object
Type         object
Gender       object
Age_group    object
Total         int64
dtype: object

**Checking Unique Values**

In [11]:
df.nunique()

State          38
Year           12
Type_code       5
Type           69
Gender          2
Age_group       6
Total        2180
dtype: int64

**Changing "Age_group" Value for better Performence"**

In [16]:
unique_age_group = df['Age_group'].unique()
unique_age_group

array(['0-14', '15-29', '30-44', '45-59', '60+', '0-100+'], dtype=object)

**Using Replace()**

In [21]:
age_group_mapping = {
    "0-14": "Child",
    "15-29": "Youth",
    "30-44": "Adult",
    "45-59": "Middle-aged",
    "60+": "Senior",
    "0-100+": "All Ages"
}

df['Age_group'] = df['Age_group'].replace(age_group_mapping)
df['Age_group'].unique()

array(['Child', 'Youth', 'Adult', 'Middle-aged', 'Senior', 'All Ages'],
      dtype=object)

In [25]:
df.head(10)

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,Child,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,Child,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,Child,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,Child,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,Child,0
5,A & N Islands,2001,Causes,Family Problems,Female,Child,0
6,A & N Islands,2001,Causes,Ideological Causes/Hero Worshipping,Female,Child,0
7,A & N Islands,2001,Causes,Other Prolonged Illness,Female,Child,0
8,A & N Islands,2001,Causes,Property Dispute,Female,Child,0
9,A & N Islands,2001,Causes,Fall in Social Reputation,Female,Child,0

In [35]:
df['Total'].unique()

array([   0,    1,    8, ..., 3927, 1513, 5451])

**Removing Rows Which "Total = 0"**

In [39]:
df = df[df['Total'] != 0]
df.count()

State        102038
Year         102038
Type_code    102038
Type         102038
Gender       102038
Age_group    102038
Total        102038
dtype: int64